<!DOCTYPE html>
<html>
	<head>
		<title>Your Website</title>

		<style>

body {
				background-image: url('{{ asset('images/bgsite1	.jpg') }}');
			background-repeat: no-repeat;
			background-size: cover;
   			 background-position-y: 25%;
			}

			.navbar {
				background-color: white;
			}

			.navbar-brand {
			      padding-left: 15px;

        
			}

			.navbar-text {
				margin-right: 15px;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="/">
				<img src="https://images-ext-1.discordapp.net/external/uVDwYZq6Xy4FxLIZCWT0-kr0gjCzcsVJes8vEqbAeh4/%3Fw%3D1280%26h%3D720%26x%3D0%26y%3D746%26cropWidth%3D3294%26cropHeight%3D2361%26c%3Def355d94b53d981d6ba2c9ac5116dccfe3f0ca2175f44705098aff189a84ee23/https/assets.vangoghmuseum.nl/f9a7a187-484e-4821-b84a-79c836109029?width=896&height=503" width="30" height="30" class="d-inline-block align-top" alt="Logo">
				La maison des artistes
			</a>
			<ul class="navbar-nav mr-auto"></ul>
			<span class="navbar-text">
				<i class="fas fa-user-circle"></i>
						{{user.prenom}} 							{{user.nom}}


			</span>
			<a class="nav-link" href="logout">
				<i class="fa fa-sign-out" aria-hidden="true"></i>
				Logout</a>
		</nav>

		<!-- Rest of your HTML content -->

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
	</body>
</html>
